.nav-link.active {
    color: #fff;
    background-color: #aaaaaa;
    border-radius: 10px;
    /* Puedes agregar más estilos para resaltar el enlace */
  }
  

.rojo{
    color: red;
}

.amarillo{
    color: yellow;
}

.verde{
    color: green;
}